# number types

1. integers (int) which are whole number Example: => 1, 23, 100, 1200 etc...
2. floating (float) point numbers which are numbers with a decimal. Example: => 1.05, 23.0, 100.1, 1200.333 etc...





Addition

In [1]:
# Addition example 1

print(1 + 2)

3

In [2]:
# Addition example 2

print(1 + 2 + 3 + 4 + 5)

15

Subtraction

In [8]:
# Substraction example 1 

print(2 - 1)

1

In [9]:
# Subtraction example 2

print(1 - 3)

-2

In [10]:
# Substraction example 3 

print(100 - 50 - 20 - 10)

20

Multiplication

In [11]:
# Multiplication example 1

print(7 * 2)

14

In [12]:
# Multiplication example 2

print(2 * 7 * 9 * 15)

1890

Division

In [13]:
# division example 1

print(12 / 3)

4.0

In [14]:
# division example 1

print(100 / 50 / 20 / 10)

0.01

Power

In [15]:
# power example 1

print(2 ** 3)

8

In [17]:
# power example 2

print(10 ** 4)

10000

Modulo or Mod Operator

1. Mostly used in cases where you want to know if a number is Even or Odd
2. we can also say that, it is how many times a number enters in an other number 
3. we can also say that, it is that remains after dividing a number by an other number

quick exp...

1. if you divid 12 by 4 you will get 4 and remainder 0 (zero)
2. if you divid 12 by 5 you will get 2 and remainder 2 (two)

how do I know is a number is "Even" or "Odd" ?

1. if you get zero as a remainder then it is "Even"
2. if you get a result other than 0 (zero) then we have an "Odd" number

In [20]:
# Modulo example 1

print(12 % 4)

0

In [21]:
# Modulo example 2

print(12 % 5)

2

Operations

In [22]:
# Operation example 1

print( 12 + 4 * 5 - 2 ** 4 / 8)

30.0

In [29]:
# Operation example 2

# [(2+4)^4 X (12-2.5)] / [4(6+7X4)^2]


print(((2+4)**4 * (12-2.5))/(4*(6+7*4)**2))

2.662629757785467

# Variable Assignments

In [2]:
a =100

print(a)

100

In [7]:
a = 100 
b = 5 
c = a + b 

print(c)
type(c)

105

int

In [11]:
a = 10 
b = 35
d = (b / 10) * 2**4

print(d)
type(d)

56.0

float

In [21]:
my_income = 4500
my_rent = 400
money_left = my_income - my_rent

print(money_left)

4100

In [24]:
e = 140
f = 160
l = e + f
print("the sum of {} and {} is equal to {}".format(e, f, l))

the sum of 140 and 160 is equal to 300

# Strings

In [20]:
firstname = "Cremona"     # it doesn't matter with single quote or double
lastname = 'Lambert'

print(firstname)
print(lastname)

fullname = firstname + ' ' + lastname   # you can soin two strings with a plus sign +

print(fullname)

Cremona
Lambert
Cremona Lambert

In [31]:
# "cremona lambert" is our fullname just reminding you 

print(fullname)

print(fullname[3])   # it starts counting from index --> 0, 1, 2, 3...etc 

print(len(fullname))  # len is the lenght in cremona lambert (15)

print(fullname[0 : 8]) # this is how we use slice in python

Cremona Lambert
m
15
Cremona

In [35]:
# how do we get the same solution with the positive and negative indexing 
# [abcdefg] -> a = 0 index, b = 1 index, and so on!... we can also say that a = -7 index, g = 6 or -1 index 

my_username = 'Cremona'    # let us get "O" in my_username

print(len(my_username))

print(my_username[4]) # we got "O" with index [4] let us look at the other way

print(my_username[-3]) # starting with g as -1 we got "o" at index [-3]

7
o
o